.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: rgb(87, 186, 95);
  border-radius: 50%;
  display: inline-block;
}